body {
  background-color: black;
}

h1 {
  color: whitesmoke;
}
.inputbutton {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* File input styles */
.custom-file-label {
  background-color: #2ecc71;
  color: #181818;
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: filter 0.3s ease; /* Add a smooth transition effect on filter property */
}

.custom-file-label:hover {
  filter: brightness(90%); /* Darken the color by 10% when hovered */
}

input[type="file"] {
  font-size: 200px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  margin-bottom: 10px;
}



#secondLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#player-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: solid 1px #1db954;
  padding: 2%;
}

#controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: solid 1px #1db954;
  padding: 2%;
}

#playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: solid 1px #1db954;
}

.playlist-container {
    background-color: #181818;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 380px;
    overflow-y: auto;
    margin: 20px auto;
  }
  /* Webkit browsers (Chrome, Safari) */
.playlist-container::-webkit-scrollbar {
  width: 8px;
}

.playlist-container::-webkit-scrollbar-thumb {
  background-color: #282828;
  transition: background-color 0.3s ease; 
}

.playlist-container::-webkit-scrollbar-thumb:hover,
.playlist-container::-webkit-scrollbar-thumb:active {
  background-color: #a0a0a0; /* Light gray when hovered or clicked */
}

.playlist-container::-webkit-scrollbar-track {
  background-color: #121212;
}
  
  .playlist-item {
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  
  .playlist-item:hover {
    background-color: #282828;
  }
  
  .selected-song {
    background-color: #1db954; /* Spotify green */
    color: #fff;
  }
  
  .playlist-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.5s ease;
}

.selected-song .playlist-image {
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
